@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
}

@layer components {
    .previewBtn {
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-width: 3px;
        color: gray;
        border-color: gray;
    }

    .previewBtnSelected {
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-width: 3px;
        color: #b91c1c;
        border-color: #b91c1c;
    }

    .modal {
        background-color: lighten(slategrey, 50%);
        /* width:20%; */
        max-width:fit-content;
        min-width:fit-content;
        color: black;
        border-radius: 12px;
        opacity: 1;
    }
    .modal::backdrop{
        background: black;
        opacity:.3;
    }
}