@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer components{
    .previewBtn{
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom:10px;
        border-bottom-width:3px;
        color: gray;
        border-color: gray;
    }
    .previewBtnSelected{
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom:10px;
        border-bottom-width:3px;
        color: #b91c1c;
        border-color:#b91c1c;
    }
}