@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@layer components{
    .previewBtn{
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom:10px;
        border-bottom-width:3px;
        color: gray;
        border-color: gray;
    }
    .previewBtnSelected{
        flex-basis: 50%;
        border-style: solid;
        padding-top: 10px;
        padding-bottom:10px;
        border-bottom-width:3px;
        color: #dc2626;
        border-color: #dc2626;
    }
}