name: testing
on:
  push:
    branches:
      - cicd
jobs:
  e2e-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build
      - run: npx cypress run --project ./dist
