name: testing
on:
  push:
    branches:
      - cicd
jobs:
  e2e-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
      - uses: cypress-io/github-action@v5
        with:
          build: npm run build
          start: npm start
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
